<template>
  <require from="nav-bar"></require>
  <!--  <require from="bootstrap/dist/css/bootstrap.css"></require> -->

  <nav-bar router.bind="router"></nav-bar>,

  <div class="page-host">
    <router-view></router-view>
  </div>
  <div class="alert">
    <div class="alert-body"></div>
  </div>
</template>
