<template>
  <div class="alert alert-success" role="alert">
    <strong>Well done!</strong> This is aurelia + lint + bootstrap 4 alpha 2
    <small class='text-help font-weight-bold font-italic'>${fecha | date:'(D/M/Yh:mm:ss)'}</small>
  </div>
</template>
